# Symfony
###> symfony/framework-bundle ###
Reseau_Bien_Etre/.env.local
Reseau_Bien_Etre/.env.local.php
Reseau_Bien_Etre/.env
Reseau_Bien_Etre/config/secrets/prod/prod.decrypt.private.php
Reseau_Bien_Etre/public/bundles/
Reseau_Bien_Etre/var/
Reseau_Bien_Etre/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
Reseau_Bien_Etre/phpunit.xml
Reseau_Bien_Etre/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
Reseau_Bien_Etre/.phpunit.result.cache
Reseau_Bien_Etre/phpunit.xml
###< symfony/phpunit-bridge ###

# Next.js
# dependencies
reseau_bien_etre_next/node_modules
reseau_bien_etre_next/.pnp
reseau_bien_etre_next/.pnp.js
reseau_bien_etre_next/.yarn/install-state.gz

# testing
reseau_bien_etre_next/coverage

# next.js
reseau_bien_etre_next/.next/
reseau_bien_etre_next/out/

# production
reseau_bien_etre_next/build

# misc
reseau_bien_etre_next/.DS_Store
reseau_bien_etre_next/*.pem

# debug
reseau_bien_etre_next/npm-debug.log*
reseau_bien_etre_next/yarn-debug.log*
reseau_bien_etre_next/yarn-error.log*

# local env files
reseau_bien_etre_next/.env

# vercel
reseau_bien_etre_next/.vercel

# typescript
reseau_bien_etre_next/*.tsbuildinfo
reseau_bien_etre_next/next-env.d.ts