{{ signedUrl }}
<br>
Bienvenu sur le réseau bien-être!
<br>
Vous êtes à un clic du prestataire de vos rêves.
Merci de <a href="{{ signedUrl }}">cliquez ici</a> pour confirmer votre mail.
<br>
Ne tardez pas, ce lien n'est valable que quelques heures.
A bientôt,
L'équipe Réseau Bien-être
